<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/929a5d9be6.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
    <title>Grailed API</title>
</head>
<body>
    <h1>Grailed API</h1>

    <form action="" method="post">
        <div class="container">
            <input type="text" id="brand" name="brand" placeholder="Enter Brand" class='input'>
            <input type="text" id="max-listings" name="max-listings" placeholder="Enter Max Listings (Max : 1000)" class='small-input'>
            <input type="text" id="sizes" name="sizes" placeholder="Enter Sizes" class='input'>
            <input type="text" id="keywords" name="keywords" placeholder="Enter Keywords" class='input'>
            <input type="text" id="brand-specification" name="brand-specification" placeholder="Enter Specific Brand" class='input'>
            <button type="submit" name='submit' value="Submit" class="btn">
                <i class="fa fa-search"></i>
            </button>
        </div>
        {{ message|safe }}
    </form>

</body>
</html>
